<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>聊天室</title>
	<link rel="stylesheet" href="css/amazeui.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/sweetalert2.min.css">
	<link rel="stylesheet" href="./css/ImgCropping.css">
	<link rel="stylesheet" href="css/cropper.min.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <!--  生产环境版本，优化了尺寸和速度
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script type="text/javascript" src="./js/sweetalert2.min.js"></script>
    <!--vue2.0推荐我的使用的ajax-->
    <script src="./js/axios.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script src="js/pinyin.js"></script>
	<script type="text/javascript" charset="utf-8" src="ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="./ueditor.all.min.js"> </script>
	<script type="text/javascript" src="js/zh-cn.js"></script>
	<script type="text/javascript" src="js/chat.js"></script>
	<style>
		.am-dropdown-content {
			width: 250px;
			margin-left: 20px;
			border: none;
			border-radius: 4px;
			box-shadow: 0 0 8px rgba(0,0,0,.1);
			padding:20px 5px -1px 20px; //上 右 下 左
		top: 0px;
			left: 32px;
		}

		.up-img-cover {
			width: 100px;
			height: 100px;
		}

		.up-img-cover img{
			width: 100%;
		}

		.red-point{
			position: relative;
		}

		.red-point::before{
			content: " ";
			border: 3px solid #C9394A;/*设置红色*/
			border-radius:5px;/*设置圆角*/
			position: absolute;
			z-index: 3000;
			right: 0%;
			margin-right: -10px;
			margin-top: 0px;
		}
		#chatbox img{
			width: 30px;
			height: 30px;
		}
		.user_text video{
			width: 20px;
			height: 20px;
		}
		.talk_window #talk_window_chat video{
			width: 120px;
			height: 120px;
		}
		#chatbox li span p{
			padding: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		#user_list.user_list li p img{
			width: 20px;
			height: 20px;
		}
		#chatbox.content li video{
			width: 120px;
			height: 120px;
		}
		/*复选框*/

		.gcs-checkbox {

			display: none;

		}

		.gcs-checkbox+label {

			background-color: white;

			border-radius: 0px;

			border: 1px solid #d3d3d3;

			width: 20px;

			height: 20px;

			display: inline-block;

			text-align: center;

			vertical-align: bottom;

			line-height: 20px;

		}

		.gcs-checkbox+label:hover {

			cursor: pointer;

			border: 1px solid #2783FB;

		}

		.gcs-checkbox:checked+label {

			background-color: #eee;

			background: #2783FB;

		}

		.gcs-checkbox:checked+label:after {

			content: "\2714";

			color: white;

		}

		/*单选按钮*/

		.gcs-radio {

			display: none;

		}

		.gcs-radio+label {

			width: 20px;

			height: 20px;

			line-height: 20px;

			display: inline-block;

			text-align: center;

			vertical-align: bottom;

			border: 1px solid gray;

			border-radius: 50%;

		}

		.gcs-radio+label:hover {

			border: 1px solid #2783FB;

			cursor: pointer;

		}

		.gcs-radio:checked+label {

			background: #2783FB;

			border: 1px solid #2783FB;

		}

		.gcs-radio:checked+label:after {

			content: "\2022";

			font-size: 35px;

			color: white;

		}

	</style>
</head>
<body>
<div class="box">
	<div class="wechat" id="webchat" style="background:#f5f5f5">
		
		<div class="sidestrip">
			<div class="am-dropdown" data-am-dropdown id="topicon" >
				<!--头像插件-->
				<div class="own_head am-dropdown-toggle" v-bind:style="{backgroundImage:'url(' + userInfo.faceicon + ')'}"></div>
				<div class="am-dropdown-content">
					<div class="own_head_top">
						<div class="own_head_top_text">
							<p class="own_name">{{userInfo.nickname}}<img v-bind:src="userInfo.faceicon" alt="" /></p>
							<p class="own_numb">微信号：{{userInfo.username}}</p>
						</div>
						<img v-bind:src="userInfo.faceicon" alt="" />
					</div>
					<div class="own_head_bottom">
						<p><span>地区</span>北京 天安门广场</p>
						<div class="own_head_bottom_img">
							<!--<a href=""><img src="images/icon/head_1.png"/></a>
							<a href=""><img src="images/icon/head_2.png"/></a>-->
						</div>
					</div>
				</div>
			</div>
			<!--三图标-->
			<div class="sidestrip_icon">
				<a id="si_1" style="background: url(images/icon/head_2_1.png) no-repeat;"></a>
				<a id="si_2"></a>
				<!--<a id="si_3"></a>-->
			</div>
			
			<!--底部扩展键-->
			<div id="doc-dropdown-justify-js">
				<div class="am-dropdown" id="doc-dropdown-js" style="position: initial;" >
					<div class="sidestrip_bc am-dropdown-toggle"></div>
					<ul class="am-dropdown-content" style="" id="downjustify">
						<li itemId="one">
							<a href="javascript:void(0)"  data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 180}">添加好友</a>
							<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
								<div class="am-modal-dialog">
									<div class="am-modal-hd">添加好友
										<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
									</div>
									<div class="am-modal-bd">
										<div class="modal-body">
											<div class="form-group">
												<input type="text" name="txt_departmentname" v-model="requestusername" class="form-control" id="add_newname" placeholder="好友ID">
												<input type="text" id="addh_newname" value="" style="display:none"></input>
											</div>
											<div class="modal-footer">
												<button type="button" id="add_submit" v-on:click="addsubmit" class="btn btn-primary" data-dismiss="modal" data-am-modal-close>确认</button>
												<button type="button" id="add_cancel" v-on:click="addcancel" class="btn btn-default" data-dismiss="modal"  data-am-modal-close>取消</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li itemId="two">
							<a href="javascript: void(0)"  data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width: 400, height: 180}">修改昵称</a>
							<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
								<div class="am-modal-dialog">
									<div class="am-modal-hd">修改昵称
										<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
									</div>
									<div class="am-modal-bd">
										<div class="modal-body">
											<div class="form-group">
												<input type="text" name="txt_departmentname" v-model="txt_newname" class="form-control" id="add_newname1" placeholder="昵称">
												<input type="text" id="addh_newname1" value="" style="display:none"></input>
											</div>
											<div class="modal-footer">
												<button type="button" id="nick_submit" v-on:click="nick_submit" class="btn btn-primary" data-dismiss="modal" data-am-modal-close>确认</button>
												<button type="button" id="nick_cancel" v-on:click="nick_cancel" class="btn btn-default" data-dismiss="modal"  data-am-modal-close>取消</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li itemId="thrr">
							<a href="javascript:void(0)" onclick="showReplaceImg()">上传头像</a>
						</li>
						<li itemId="fff">
							<a href="javascript: void(0)"  data-am-modal="{target: '#doc-modal-6', closeViaDimmer: 0, width: 400, height: 300}">好友备注</a>
							<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-6">
								<div class="am-modal-dialog">
									<div class="am-modal-hd">修改备注
										<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
									</div>
									<div class="am-modal-bd">
										<div class="modal-body">
											<div class="form-group">
												<select name="nickname" v-model="friendnote.friendId" class="form-control" >
													<option disabled value="">-----请选择好友-----</option>
													<option v-for="friend in friendList" v-bind:value="friend.id" >
														{{friend.nickname}}
													</option>
												</select>
											</div>
											<div class="form-group">
												<input type="text" name="txt_departmentname" v-model="friendnote.alias" class="form-control" id="nickname" placeholder="昵称">
											</div>
											<div class="modal-footer">
												<button type="button" id="alias_submit" v-on:click="updateFriendAlias" class="btn btn-primary" data-dismiss="modal" data-am-modal-close>确认</button>
												<button type="button" id="nickname_cancel" v-on:click="nick_cancel" class="btn btn-default" data-dismiss="modal"  data-am-modal-close>取消</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>


						<li itemId="fou">
							<a href="javascript:void(0)"  data-am-modal="{target: '#doc-modal-4', closeViaDimmer: 0, width: 400, height: 170}">退出</a>
							<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-4">
								<div class="am-modal-dialog">
									<div class="am-modal-hd">确定退出？
										<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
									</div>
									<div class="form-group">
										<input type="text" style="visibility: hidden;" class="form-control"  placeholder="占位">
									</div>
									<div class="modal-footer">
										<button type="button" id="exit_submit" v-on:click="exit_submit" class="btn btn-primary" data-dismiss="modal" data-am-modal-close>确认</button>
										<button type="button" id="exit_cancel"class="btn btn-default" data-dismiss="modal"  data-am-modal-close>取消</button>
									</div>

								</div>
							</div>
						</li>

					</ul>
				</div>	
			</div>	
		</div>

		<!--发送添加好友请求-->
		<div class="am-modal am-modal-no-btn" tabindex="-1" id="chat-modal-6">

			<div class="am-modal-dialog">
				<div class="am-modal-hd">确认添加好友
					<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
				</div>
				<div class="am-modal-bd">
					<div class="modal-body">
						<div class="friends_box" id="con_chat" v-html="innerHtml">

						</div>

						<div class="modal-footer">
							<button type="button" id="addh_submit" v-on:click="addh_submit" class="btn btn-primary" data-dismiss="modal" data-am-modal-close>确认</button>
							<button type="button" id="addh_cancel" @click="addh_cancel" class="btn btn-default" data-dismiss="modal"  data-am-modal-close>取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--聊天列表-->
		<div class="middle on">
			<div class="wx_search">
				<input type="text" placeholder="搜索功能没有实现"/>
				<button>+</button>
			</div>
			<div class="office_text">
				<ul class="user_list" id="user_list">
					<!--(userId,friendId,msg,unRead)-->
					<li v-for="chatSnapshot in userChatSnapshot" v-bind:class="chatWindow.id==chatSnapshot.friendId?'user_active':''" v-on:click="openChatWindow(chatSnapshot.friendId)">
						<div v-for="friend in friendList" v-if="friend.id==chatSnapshot.friendId">
							<div class="user_head">
								<img v-bind:src="friend.faceicon"/>
							</div>
							<div class="user_text">
								<p class="user_name" v-if="!chatSnapshot.isRead" >
									<!--userId:userId,friendId:friendId,msg:msg,isRead:isRead-->
									<span class="red-point" >
										{{friend.nickname}}
									</span>
								</p>
								<p class="user_name" v-else>
									{{friend.nickname}}
								</p>
								<p class="user_message" v-html="chatSnapshot.msg" style="height: 20px"></p>
							</div>
							<!--<div class="user_time">昨天</div>-->
						</div>
					</li>
				</ul>
			</div>	
		</div>
		
		<!--好友列表-->
		<div class="middle" id="friendList">
			<div class="wx_search">
				<input type="text" placeholder="搜索功能没有实现"/>
				<button>+</button>
			</div>
			<div class="office_text">
				<ul class="friends_list">
					<li>
						<p>新的朋友</p>
						<div class="friends_box" v-for="friend in newfriendList" v-on:click="permissionFriend(friend.id)">
							<div class="user_head"><img v-bind:src='friend.faceicon'/></div>
							<div class="friends_text">
								<p class="user_name">{{friend.nickname}}</p>
							</div>
						</div>
					</li>
					<li>
						<p>好友列表</p>
					</li>

					<li v-for="(friendList,index) in friendListArray" v-if="friendList.length>0">
							<p>{{enWords[index]}}</p>
							<div class="friends_box" v-for="friend in friendList" @click="chatFriend(friend.id)">
								<div class="user_head"><img v-bind:src="friend.faceicon"/></div>
								<div class="friends_text">
									<p class="user_name">{{friend.nickname}}</p>
								</div>
							</div>
					</li>

				</ul>
			</div>	
		</div>
		<!--聊天窗口-->
		<div class="talk_window" v-if="chatWindow.id!=null && chatWindow.id!=undefined">
			<div class="windows_top">
				<div class="windows_top_box">
					<span>{{chatWindow.nickname}}</span>
				</div>
			</div>
			<!--聊天内容-->
				<div class="windows_body">
				<div class="office_text" style=" overflow:scroll;  height:492px;" id="scroll_div"><!--{userId:userId,friendId:friendId,msg:msg,flag:flag}-->
					<ul class="content" id="chatbox" v-for="userChatHistory in userChatHistoryList">
						<li class="me" v-if="userChatHistory.flag==1">
							<img src="images/own_head.jpg" title="xxx">
							<span v-html="userChatHistory.msg"></span>
						</li>
						<li class="other" v-if="userChatHistory.flag==2">
							<img src="images/head/15.jpg" title="xxx">
							<span v-html="userChatHistory.msg"></span>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="windows_input" id="talkbox">
				<div class="input_box">
					<textarea name="" rows="" cols="" id="input_box_" value=""></textarea>
					<button id="send" v-on:click="sendMsg(chatWindow.id)">发送（S）</button>
				</div>

			</div>
		</div>

		</div>

</div>
<script>
    var chatmodal=new Vue({
        el:'#webchat',
        data:{
            userInfo:{},//用户登录信息
			newfriendList:[],//新朋友列表
            innerHtml:'',//请求好友信息的html
            userId:'',//请求好友的id
            requestusername:'',//请求的好友username
            txt_newname:'',//新的别名
			friendList:[],//朋友列表
            friendListArray : [
                [],[],[],[],[],[],[],[],[],
                [],[],[],[],[],[],[],[],[],
                [],[],[],[],[],[],[],[],[]
            ],
            enWords : [
                'A', 'B', 'C', 'D', 'E', 'F', 'G',
                'H', 'I', 'J', 'K', 'L', 'M', 'N',
                'O', 'P', 'Q', 'R', 'S', 'T',
                'U', 'V', 'W', 'X', 'Y', 'Z',
                '#'
            ],
			//当前聊天窗口
			chatWindow:{},
			unReadMessageList:[],//未读信息列表
			userChatHistoryList:[],//当前聊天页面用户的聊天记录
            userChatSnapshot:[],//用户聊天快照
			friendnote:{friendId:'',alias:''}//朋友备注
        },
        mounted:function(){
            this.getUserGlobal();
            if(this.userInfo==null||this.userInfo.id==null||typeof (this.userInfo.id)=='undefined'){
                swal('用户没有登录','','error')
                location.href='loginPage';
			}
          //获取新好友请求表
          	this.getNewFriendList();
          	//获取好友列表
          	this.getFriendList();
          	//获取未读信息列表
          	this.getUnReadMessage();
          	//获取左侧最近聊天列表
			this.getUserChatHistoryList();
		},
        methods:{
            //修改好友别名
            updateFriendAlias:function(){
                if(this.friendnote.alias.length==0){
                    swal('备注不能为空','','info');
                    return;
				}
				if(this.friendnote.friendId.length==0){
                    swal('请选择要修改备注的好友','','info');
				}
				//axios
				axios.post('user/updateFriendAlias',this.friendnote)
					.then(function (response) {
                        if(response.data.status==200){
                            swal('修改成功','','success');
                            //刷新所有
                            chatmodal.getAllLoading();
                            return;
                        }
                        swal('系统出错了','','error');
					})
					.catch(function (reason) {
                        swal('系统出错了','','error');
					})
			},
            //获取所有要加载的内容
            getAllLoading:function(){
				//获取新好友请求表
                this.getNewFriendList();
                //获取好友列表
                this.getFriendList();
                //获取未读信息列表
                this.getUnReadMessage();
                //获取左侧最近聊天列表
                this.getUserChatHistoryList();
			},
            //获取左侧最近聊天列表
            getUserChatHistoryList:function(){
                var user=this.getUserGlobal();
                var chatKey="chat-snapshot-"+user.id;
                var chatSnapshotListStr=localStorage.getItem(chatKey);
                var chatSnapshotList=[];
                if(this.isNotNull(chatSnapshotListStr)) {
                    chatSnapshotList = JSON.parse(chatSnapshotListStr);
                }
                this.userChatSnapshot=chatSnapshotList;
			},
            //标志信息为已读的状态
            readUserChatSnapshot:function(userId,friendId){
                var chatKey="chat-snapshot-"+userId;
                var chatSnapshotListStr=localStorage.getItem(chatKey);
                var chatSnapshotList;
                var currentFriend={};
                if(this.isNotNull(chatSnapshotListStr)){
                    chatSnapshotList=JSON.parse(chatSnapshotListStr);
                    for(var a=0;a<chatSnapshotList.length;a++){
                        var chat=chatSnapshotList[a];
                        if(chat.friendId==friendId){
                            currentFriend=chat;
                            //删除旧的对象
                            currentFriend=chatSnapshotList.splice(a,1);
                        }
                    }
                }else{
                    chatSnapshotList=[];
                }
                console.log(currentFriend.isRead)
				console.log(currentFriend[0]);
                console.log(currentFriend)
                currentFriend[0].isRead=true;
                //从头插入
                chatSnapshotList.unshift(currentFriend[0]);
                localStorage.setItem(chatKey,JSON.stringify(chatSnapshotList));
                chatmodal.userChatSnapshot=chatSnapshotList;
			},
            //从左侧点击联系人，打开窗口
            openChatWindow:function(data){
                for(var a=0;a<this.friendList.length;a++){
                    //改变当前窗口
                    if(this.friendList[a].id==data){
                        this.chatWindow=this.friendList[a];
                    }
                    var user=this.getUserGlobal();

                    //标志信息为已读的状态
					this.readUserChatSnapshot(user.id,data);

                    //当前聊天页面渲染
                    this.userChatHistoryList=this.getUserChatHistory(user.id,data);
                    setTimeout(function(){
                        var UUE=UE.getEditor('input_box_', {
                                autoHeightEnabled: false,
                                initialFrameHeight: 60,
                                initialFrameWidth: 550,
                                elementPathEnabled: false,
                                wordCount: false,
                                maximumWords:100,
                                toolbars: [[
                                    'source','emotion','simpleupload','map','insertvideo'
                                ]]
                            }
                        );
                        UUE.ready(function () {
                            UUE.setContent('');
                        })
                        var scroll_div = document.getElementById("scroll_div");
                        scroll_div.scrollTop = scroll_div.scrollHeight;
                    },1);
                }

			},
            //获取未读信息
            getUnReadMessage(){
                axios.get('user/getUnReadMessage')
					.then(function (response) {
                        if(response.data.status==200){
                            chatmodal.unReadMessageList=response.data.data;
                            for(var a=0;a<chatmodal.unReadMessageList.length;a++){
                            	var chat=chatmodal.unReadMessageList[a];
								chatmodal.saveUserChatHistory(chat.acceptId,chat.sendId,chat.msg,2);
                                chatmodal.saveUserChatSnapshot(chat.acceptId,chat.sendId,chat.msg,false);
							}
                            //更新消息为已签收
                            CHAT.signMsgList();
                            return;
                        }
                        swal('系统出错了','','error');
					}).catch(function (reason) {
                    swal('系统出错了','','error');
				});
			},
			//保存聊天快照到本地数据库
            saveUserChatSnapshot:function(userId,friendId,msg,unRead){
				var chatKey="chat-snapshot-"+userId;
				var chatSnapshotListStr=localStorage.getItem(chatKey);
				var chatSnapshotList;
				if(this.isNotNull(chatSnapshotListStr)){
                    chatSnapshotList=JSON.parse(chatSnapshotListStr);
                    for(var a=0;a<chatSnapshotList.length;a++){
                        var chat=chatSnapshotList[a];
                        if(chat.friendId==friendId){
                            //删除旧的对象
                            chatSnapshotList.splice(a,1);
						}
					}
				}else{
                    chatSnapshotList=[];
				}
				var chatSnapshot=CHAT.chatSnapshot(userId,friendId,msg,unRead);
				//从头插入
				chatSnapshotList.unshift(chatSnapshot);
				localStorage.setItem(chatKey,JSON.stringify(chatSnapshotList));
				chatmodal.userChatSnapshot=chatSnapshotList;
			},
			//保存我和好友的聊天记录 flag1是我发的，2是对方发的
            saveUserChatHistory:function(userId, friendId, msg, flag){
			    var chatKey="chat-"+userId+"-"+friendId;
				var chatHistoryListStr=localStorage.getItem(chatKey);
                var chatHistoryList;
				if(this.isNotNull(chatHistoryListStr)){
					chatHistoryList=JSON.parse(chatHistoryListStr);
				}else{
				    chatHistoryList=[];
				}
				//获取单个聊天对象
				var chatHistory=CHAT.chatHistory(userId,friendId,msg,flag);
				chatHistoryList.push(chatHistory);
				//保存到浏览器数据库
				localStorage.setItem(chatKey,JSON.stringify(chatHistoryList));
			},
			//获取我和朋友的聊天记录
			getUserChatHistory:function(userId, friendId){
                var chatKey="chat-"+userId+"-"+friendId;
                var chatHistoryListStr=localStorage.getItem(chatKey);
                var chatHistoryList;
                if(this.isNotNull(chatHistoryListStr)){
                    chatHistoryList=JSON.parse(chatHistoryListStr);
                }else{
                    chatHistoryList=[];
                }
                return chatHistoryList;
			},
            //发送信息
            sendMsg:function(friendId){
                var UU=UE.getEditor("input_box_");
                var text=UU.getContent();
               	var user=this.getUserGlobal()
                UU.setContent('');
               	//构建聊天要发送的内容
               	var chatMsg=CHAT.getChatMsg(user.id,friendId,text,null);
               	var dataContent=CHAT.getDataContent(CHAT.CHAT,chatMsg,null);
               	//发送给对方
				CHAT.chat(JSON.stringify(dataContent));
				//保存聊天记录
                this.saveUserChatHistory(user.id,friendId,text,1);
                //当前聊天页面渲染
                this.userChatHistoryList=this.getUserChatHistory(user.id,friendId);
                //保存聊天快照
                chatmodal.saveUserChatSnapshot(user.id,friendId,text,true);
                var scroll_div = document.getElementById("scroll_div");
                scroll_div.scrollTop = scroll_div.scrollHeight;

			},
            //点击好友列表时触发的事件
            chatFriend:function(data){
              var oldChatWindow=this.chatWindow;
              for(var a=0;a<this.friendList.length;a++){
                  if(this.friendList[a].id==data){
                      this.chatWindow=this.friendList[a];
				  }
			  }
			  var aa=this.chatWindow;
              var user=this.getUserGlobal();
              //当前聊天页面渲染
              this.userChatHistoryList=this.getUserChatHistory(user.id,data);
			  setTimeout(function(){
					  var UUE=UE.getEditor('input_box_', {
						  autoHeightEnabled: false,
						  initialFrameHeight: 60,
						  initialFrameWidth: 550,
						  elementPathEnabled: false,
						  wordCount: false,
						  maximumWords:100,
						  toolbars: [[
							  'source','emotion','simpleupload','map','insertvideo'
						  ]]
					  }
                  );
				UUE.ready(function () {
					UUE.setContent('');
                })
                  var scroll_div = document.getElementById("scroll_div");
                  scroll_div.scrollTop = scroll_div.scrollHeight;
			  },1);
			},
            //获取全局的用户信息
            getUserGlobal:function(){
               return this.userInfo=JSON.parse(localStorage.getItem("userInfo"));
			},
			//设置全局的用户信息
			setUserGlobal:function(data){
                var str=JSON.stringify(data);
				localStorage.setItem("userInfo",str);
				this.userInfo=data;
			},
			//获取新朋友列表
			getNewFriendList:function(){
                axios.get('user/getNewFriendList')
					.then(function (response) {
                        if(response.data.status==200){
                            chatmodal.newfriendList=response.data.data;
                            return;
                        }
                        swal('系统出错了','','error');

					})
					.catch(function (reason) {
                        swal('系统出错了','','error');
				})
			},
            isNotNull: function(str) {
                if (str != null && str != "" && str != undefined) {
                    return true;
                }
                return false;
            },
			//获取朋友列表
			getFriendList(){
                // 构建通讯录二维数组模型
                    this.friendListArray = [
                        [],[],[],[],[],[],[],[],[],
                        [],[],[],[],[],[],[],[],[],
                        [],[],[],[],[],[],[],[],[]
                    ];
                axios.get('user/getfriendList')
                    .then(function (response) {
                        if(response.data.status==200){
                            if(response.data.data!=null&&response.data.data!=""&&response.data.data!=undefined){
                                chatmodal.friendList=response.data.data;
                            }else{
                                chatmodal.friendList=[];
							}
							//getPinYinFirstCharacter(input.value, "-", true).split('')[0];
							for(var a=0;a<chatmodal.friendList.length;a++){
							    //获取拼音大写
							    var pingying=getPinYinFirstCharacter(chatmodal.friendList[a].nickname, "-", true).split('')[0];
							    //拼音在二维数组中的值
							    var order=chatmodal.enWords.length-1;
							    for(var b=0;b<chatmodal.enWords.length;b++){
									if(chatmodal.enWords[b]==pingying){
									    order=b;
									    break;
									}
								}
                                chatmodal.friendListArray[order].push(chatmodal.friendList[a]);
							}
                            return;
                        }
                        swal('系统出错了','','error');

                    })
                    .catch(function (reason) {
                        swal('系统出错了','','error');
                    });

			},
			//同意好友请求
            permissionFriend:function(friendId){
                swal({
                    title: '是否通过好友请求?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '通过!',
                    cancelButtonText: '拒绝',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: true
                }).then(function(isConfirm) {
                    if (isConfirm.value === true) {
                        axios.post('user/saveFriendRequest',{'friendId':friendId})
							.then(function (response) {
                                if(response.data.status==200){
                                    swal('已经成功添加好友','','success');
                                    //刷新所有
                                    chatmodal.getAllLoading();
                                    var chatMsg=CHAT.getChatMsg(null,friendId,null,null);
                                    var dataContent=CHAT.getDataContent(CHAT.PULL_FRIEND,chatMsg,null);
                                    //发送给对方
                                    CHAT.chat(JSON.stringify(dataContent));
                                    return;
                                }
                                swal('系统出错了','','error');
							})
							.catch(function (reason) {
                            	swal('系统出错了','','error');
							})
                    } else if (isConfirm.dismiss === "cancel") {
                        axios.post('user/refuseFriendRequest',{'friendId':friendId})
                            .then(function (response) {
                                if(response.data.status==200){
                                    swal('拒绝成功','','success');
                                    //刷新所有
                                    chatmodal.getAllLoading();
                                    return;
                                }
                                swal('系统出错了','','error');
                            })
                            .catch(function (reason) {
                                swal('系统出错了','','error');
                            })
                    } else {
                    }
                })
			},
			//保存用户请求
            addh_submit:function(){
                axios.post('user/saveUserRequest',{'userId':this.userId})
                    .then(function (response) {
                        if(response.data.status==200){
                            swal('已经发送成功','','success');
                            var chatMsg=CHAT.getChatMsg(null,chatmodal.userId,null,null);
                            var dataContent=CHAT.getDataContent(CHAT.PULL_FRIEND,chatMsg,null);
                            //发送给对方
                            CHAT.chat(JSON.stringify(dataContent));
                            return;
                        }
                        swal('系统出错了','','error');
                    })
                    .catch(function (reason) {
                        swal('系统出错了','','error');
                    })
            },//关闭按钮
            addh_cancel:function () {
                innerHtml='';
            },
            //添加好友
            addsubmit:function () {
                if(this.requestusername.length==0){
                    swal('请输入查找的用户','','warning')
                    return;
                }
                axios.post('user/frientRequest',{'username':this.requestusername})
                    .then(function (response) {
                        var user=response.data.data;
                        if(response.data.status==200){
                            console.log(user);
                            chatmodal.userId=user.id;
                            chatmodal.innerHtml=' <div class="user_head"> <img src="'+ user.faceicon +'"/></div> ' +
                                ' <div class="user_text"> ' +
                                ' <p class="user_name"> 昵称： ' + user.nickname +' </p> ' +
                                ' <p class="user_message">用户名：  ' +  user.username +'</p> ' +
                                ' </div> ';
                            $('#chat-modal-6').modal();
                        }else{
                            swal(response.data.msg,'','warning')
                        }
                    })
                    .catch(function (reason) {
                        swal('系统出错','','error')
                    })
            },//关闭好友添加窗口
            addcancel:function () {
                this.requestusername='';
            },//昵称修改
            nick_submit:function(){
                if(this.txt_newname.length<1||this.txt_newname.length>15){
                    swal('昵称为1-15个字符','','warning');
                    return;
                }
                axios.post('user/UpdateNickname',{'nickname':this.txt_newname})
                    .then(function (response) {
                        if(response.data.status==200){
                            swal('修改成功','','success');
                            this.txt_newname='';
                            chatmodal.setUserGlobal(response.data.data);
                            return;
                        }
                        swal('系统出错','','error');
                    })
                    .catch(function (error) {
                        swal('系统出错','','error');
                    })

            },//取消按钮
            nick_cancel:function () {
                this.txt_newname='';
            },//用户退出
            exit_submit:function () {
                axios.get('logout');
                localStorage.clear();
                location.href='loginPage'
            }
        }
    });
</script>
<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
<script type="text/javascript" src="js/amazeui.min.js"></script>
<script type="text/javascript" src="js/zUI.js"></script>
<script type="text/javascript" src="js/wechat.js"></script>

<script type="text/javascript">
//三图标
window.onload=function(){
	function a(){
		var si1 = document.getElementById('si_1');
		var si2 = document.getElementById('si_2');
		var si3 = document.getElementById('si_3');
		si1.onclick=function(){
			si1.style.background="url(images/icon/head_2_1.png) no-repeat"
			si2.style.background="";
			//si3.style.background="";
		};
		si2.onclick=function(){
			si2.style.background="url(images/icon/head_3_1.png) no-repeat"
			si1.style.background="";
			//si3.style.background="";
		};
		/*si3.onclick=function(){
			si3.style.background="url(images/icon/head_4_1.png) no-repeat"
			si1.style.background="";
			si2.style.background="";
		};*/
	};
	function b(){
		var text = document.getElementById('input_box');
		var chat = document.getElementById('chatbox');
		var btn = document.getElementById('send');
		var talk = document.getElementById('talkbox');
	};
	a();
	b();
	function init(){
        setTimeout("CHAT.init()",1000);
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function(action) {
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return 'uploadImage';
            }else if(action=='uploadvideo'){
                return '../../uploadImage';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        };
	};
	init();

};
</script>

<!--图片裁剪框 start-->
<div style="display: none;" class="tailoring-container">
	<div class="black-cloth" onclick="closeTailor(this)"></div>
	<div class="tailoring-content">
		<div class="tailoring-content-one">
			<label title="上传图片" for="chooseImg" class="l-btn choose-btn">
				<input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
				选择头像
			</label>
			<div class="close-tailoring"  onclick="closeTailor(this)">×</div>
		</div>
		<div class="tailoring-content-two">
			<div class="tailoring-box-parcel">
				<img id="tailoringImg">
			</div>
			<div class="preview-box-parcel">
				<p>头像预览：</p>
				<div class="square previewImg"></div>
				<div class="circular previewImg"></div>
			</div>
		</div>
		<div class="tailoring-content-three">
			<button class="l-btn cropper-reset-btn">还原</button>
			<button class="l-btn cropper-rotate-btn">旋转</button>
			<button class="l-btn cropper-scaleX-btn">换向</button>
			<button class="l-btn sureCut" id="sureCut">确定</button>
		</div>
	</div>
</div>
<!--图片裁剪框 end-->
<div style="width: 320px;height: 320px;border: solid 1px #555;padding: 5px;margin-top: 10px;display: none;">
	<img id="finalImg" src="" width="100%">
</div>
<script type="text/javascript" src="./js/cropper.min.js"></script>
<script type="text/javascript">
    $(function () {
        //弹出框水平垂直居中
        (window.onresize = function () {
            var win_height = $(window).height();
            var win_width = $(window).width();
            if (win_width <= 768){
                $(".tailoring-content").css({
                    "top": (win_height - $(".tailoring-content").outerHeight())/2,
                    "left": 0
                });
            }else{
                $(".tailoring-content").css({
                    "top": (win_height - $(".tailoring-content").outerHeight())/2,
                    "left": (win_width - $(".tailoring-content").outerWidth())/2
                });
            }
        })();
        //cropper图片裁剪
        $('#tailoringImg').cropper({
            aspectRatio: 1/1,//默认比例
            preview: '.previewImg',//预览视图
            guides: false,  //裁剪框的虚线(九宫格)
            autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
            movable: false, //是否允许移动图片
            dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
            movable: true,  //是否允许移动剪裁框
            resizable: true,  //是否允许改变裁剪框的大小
            zoomable: false,  //是否允许缩放图片大小
            mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
            touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
            rotatable: true,  //是否允许旋转图片
            crop: function(e) {
                // 输出结果数据裁剪图像。
            }
        });
        //旋转
        $(".cropper-rotate-btn").on("click",function () {
            $('#tailoringImg').cropper("rotate", 45);
        });
        //复位
        $(".cropper-reset-btn").on("click",function () {
            $('#tailoringImg').cropper("reset");
        });
        //换向
        var flagX = true;
        $(".cropper-scaleX-btn").on("click",function () {
            if(flagX){
                $('#tailoringImg').cropper("scaleX", -1);
                flagX = false;
            }else{
                $('#tailoringImg').cropper("scaleX", 1);
                flagX = true;
            }
            flagX != flagX;
        });

        //裁剪后的处理
        $("#sureCut").on("click",function () {
            if ($("#tailoringImg").attr("src") == null ){
                return false;
            }else{
                var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
                var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
                var user=chatmodal.getUserGlobal();
                axios.post('user/uploadFaceBase64',{'base64url':base64url})
                    .then(function (response) {
                        if(response.data.status==200){
                            swal('上传头像成功','','success');
                            //chatmodal.setUserGlobal(response.data.data);
                            chatmodal.setUserGlobal(response.data.data);
                            return;
                        }
                        swal('系统出错','','error');
                    })
                    .catch(function (error) {
                        swal('系统出错','','error');
                    })
                // $("#finalImg").prop("src",base64url);//显示为图片的形式
                //关闭裁剪框
                closeTailor();
            }
        });
    });
    //弹出图片裁剪框
    function showReplaceImg(){
        $(".tailoring-container").toggle();
    }
    /*    $("#replaceImg").on("click",function () {
            //方法切换元素的可见状态
            $(".tailoring-container").toggle();
        });*/
    //选中图像
    function selectImg(file) {
        if (!file.files || !file.files[0]){
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc,false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }
    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }
</script>

</body>
</html>
