<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>注册页</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" href="./css/sweetalert2.min.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--  生产环境版本，优化了尺寸和速度
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script type="text/javascript" src="./js/sweetalert2.min.js"></script>
    <script src="./js/axios.min.js"></script>

</head>
<body>

<div id="particles-js">
    <div id="loginpage" class="login">
        <div class="login-top" style="padding-left: 150px;">
            注册
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/name.png"/></div>
            <div class="login-center-input">
                <input type="text" name="" value="" v-model="username" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
                <div class="login-center-input-text">用户名</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/password.png"/></div>
            <div class="login-center-input">
                <input type="password" name=""value="" v-model="password" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="img/name.png"/></div>
            <div class="login-center-input">
                <input type="nickname" name=""value="" v-model="nickname" placeholder="请输入昵称" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的昵称'"/>
                <div class="login-center-input-text">昵称</div>
            </div>
        </div>
        <div class="login-center clearfix">
            <p>
                <span>已有账号,</span>
                <a href="javascript:void(0)" v-on:click="login">现在登录</a>
            </p>
        </div>
        <div class="login-button" v-on:click="register">
            注册
        </div>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#loginpage',
        data:{
            username:'',
            password:'',
            nickname:''
        },
        methods:{
            login:function () {
                location.href='loginPage';
            },
            register:function () {
                if(this.username.length==0){
                    swal('请输入用户名','','warning');
                    return;
                }
                if(this.password.length==0){
                    swal('请输入密码','','warning');
                    return;
                }
                if(this.username.length<6||this.username.length>15){
                    swal('用户名为6-15个字符','','warning');
                    return;
                }
                if(this.password.length<6||this.password.length>15){
                    swal('密码为6-15个字符','','warning');
                    return;
                }
                if(this.nickname.length<1||this.nickname.length>15){
                    swal('昵称为1-15个字符','','warning');
                    return;
                }
                axios.post('user/register',{'username':this.username,'password':this.password,'nickname':this.nickname})
                    .then(function (response) {
                        if(response.data.status==200){
                            location.href='login.html';
                        }else{
                            swal(response.data.msg,'','error');
                        }
                    })
                    .catch(function (error) {
                        swal('系统出错','','error');
                    })

            }
        }
    });
</script>
</body>
</html>