<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wsq.mapper.FriendsMapper">
    <!--获取所有的数据-->
    <select id="getList" resultType="friends">
        select * from friends
    </select>
    <!--根据id更新-->
    <update id="updateFriends" parameterType="friends">
        update friends
            <set>
                <if test="userId!=null and userId != ''">
                       	userId=#{userId},
                </if>
                <if test="friendId!=null and friendId != ''">
                       	friendId=#{friendId},
                </if>
                <if test="alias!=null and alias != ''">
                       	alias=#{alias},
                </if>

            </set>
            where id=#{id}
    </update>
    <!--添加数据-->
    <insert id="addFriends" parameterType="friends" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into friends
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId!=null and userId != ''">
                       	userId ,
                </if>
                <if test="friendId!=null and friendId != ''">
                       	friendId ,
                </if>
                <if test="alias!=null and alias != ''">
                       	alias ,
                </if>

            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId!=null and userId != ''">
                       #{userId} ,
                </if>
                <if test="friendId!=null and friendId != ''">
                       #{friendId} ,
                </if>
                <if test="alias!=null and alias != ''">
                       #{alias} ,
                </if>

            </trim>

    </insert>
    <!--根据id删除数据-->
    <delete id="deleteFriends" parameterType="String">
          delete from friends where id=#{value}
    </delete>
    <!--根据实体类对象查询-->
    <select id="searchByEntity" parameterType="friends" resultType="friends">
        select * from friends
        <where>
                <if test="id!=null and id != ''">
                       and id like concat('%',#{id},'%')
                </if>
                <if test="userId!=null and userId != ''">
                       and userId like concat('%',#{userId},'%')
                </if>
                <if test="friendId!=null and friendId != ''">
                       and friendId like concat('%',#{friendId},'%')
                </if>
                <if test="alias!=null and alias != ''">
                       and alias like concat('%',#{alias},'%')
                </if>

        </where>
    </select>
    <!--根据Id获取-->
    <select id="getFriendsById" parameterType="String" resultType="friends">
        select * from friends where id=#{value}
    </select>
</mapper>
